{#
    name: class template
    description: Template for generating a class. This template inherits from 'base_class' template
    author: Ajeet Singh
    JSON structure:
#}
{% extends 'base_class.j2' %}
