{# 
    name: module template
    description: Template for rendering an module file
    language: Python
    author: Ajeet Singh
#}
"""
.. module:: {{ module_name }}
   :platform: {{ platform }}
   :synopsis: {{ synopsis }}

.. moduleauthor:: {{ author }}
"""

